@charset "utf-8";
.center {
 	text-align: center;
   	color: black;
}
.large {
   	font-size: 200%;
}
#mssv {
   	background-color: white;
   	color: blue;
}
img  {
	float: left;
}
p  {
	font-size: 100%;
}




body {
	font: 1em/150% Arial, Helvetica, sans-serif;
}
a {
	color: #669;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font: bold 24px/100% Arial, Helvetica, sans-serif;
	color: blue;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	padding: 5px;
	width: 760px;
	margin: 20px auto;
}
#header {
}
#content {
	width: 754px;
	float: left;
	height: auto;
}
#sidebar {
	width: 300px;
	float: right;
}
#footer {
	clear: both;
}
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 65%;
	}
	#sidebar {
		width: 30%;
	}

}

/* for 700px or less */
@media screen and (max-width: 700px) {

	#content {
		width: auto;
		float: none;
	}
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	#sidebar {
		display: none;
	}

}

/* border & guideline (you can ignore these) */
#content {
	background: white;
}
#sidebar {
	background: white;
}
#header, #content, #sidebar {
	margin-bottom: 0px;
	margin-top: 0px;
}
#header, #content, #sidebar, #footer {
	border: solid 3px black;
}