@charset "utf-8";
.center {
 	text-align: center;
   	color: black;
}

.right {
 	text-align: right;
   	color: black;
}

.large {
   	font-size: 200%;
}
#mssv {
   	background-color: white;
   	color: blue;
}
p  {
	font-size: 100%;
}

img{max-width: 100%;}


body {
	font: 1em/150% Arial, Helvetica, sans-serif;
}
a {
	color: #669;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font: bold 24px/100% Arial, Helvetica, sans-serif;
	color: blue;
}

/*nav css*/
nav {width:100%;height: 43px;margin: 0 auto 15px auto;background:#3366CC; border:1px solid #FFF;-webkit-border-radius: 5px;-moz-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;}
nav ul {list-style: none;margin: 0;padding: 0 5px;}
nav ul li {position: relative;float: left;padding: 5px;}
nav ul li:hover {background: url('images/nav.jpg') repeat-x;}
nav ul li a {font-size: 15px; color: #ffffff;display: block;padding: 6px 10px 6px 10px;margin-bottom: 5px;z-index: 6;position: relative;font-weight:bold; text-transform:uppercase;}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	width: 60%;
	margin: 20px auto;
}
#banner {
	width: 100%;
	height: 20%;
}
#header {
	width: 100%;
}
#content {
	width: 100%;
	overflow: auto;
}
#footer {
	width: 100%;
	clear: both;
}
#picture{
	width: 50%;
	float: left;
}

#picture_show{
	width: 80%;
	padding: 0 10% 10%;
}

#info{
	width: 50%;
	float: right;
	margin: 0;
	word-wrap: break-word;
}

#leftside{
	width: 30%;
	float: left;
	background: 	#7CFC00;
}

#mainside{
	width:70%;
	float: right;
}

#info_main_left{
	width: 50%;
	float:left;
}
#info_main_right{
	width: 50%;
	float:right;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media only screen and (max-width: 480px)
{
		#pagewrap{
		width: 100%;
		margin: 0px auto;
	}			
	#picture{
		width: 100%;
		float: none;
	}

	#info{
		width: 100%;
		float: none;
	}	
	
	#leftside{
		width: 100%;
		float: none;
	}

	#mainside{
		width:100%;
		float: none;
	}
	

}
@media only screen and (max-width: 640px)
{
		#pagewrap{
		width: 90%;
		margin: 10px auto;
	}		
	nav {width:100%;background:none;height:auto;}
	nav ul li {float: none;background:#3366CC;text-align:center;padding-bottom:0px;margin-top:5px;}
	#content{background-color:#ffffff;}
	

}
@media only screen and (max-width: 768px)
{
		#pagewrap{
		width: 80%;
		margin: 20px auto;
	}
	
}
@media only screen and (max-width: 1024px)
{
		#pagewrap{
		width: 70%;
		margin: 20px auto;
	}
	#info_main_left{
		width: 100%;
		float:none;
	}
	#info_main_right{
		width: 100%;
		float:left;
	}	
}
@media only screen and (min-width: 1025px)
{
		#pagewrap{
		width: 60%;
		margin: 20px auto;
	}			
}
/* border & guideline*/
#content {
	background: white;
}
#content, #sidebar {
	margin-bottom: 0px;
	margin-top: 0px;
}
#content, #footer {
	border: solid 3px black;
}
#header {
}